body {
     background-color: burlywood;
}

#login{	
	font-weight: 750;
    font-size:150%;
    color: #RRR;
    display: block;
    text-align: center;
	width:35%;
	height:35%;
	margin-left:35%;
  	margin-right:7%;
  	margin-top:15%;
}

input[type="submit"] {
    border: 2px solid #ccc;
    padding: 10px 10px;
    margin-left:100%;
  	margin-right:7%;
  	margin-top:15%;
}