body {
    background-repeat: no-repeat;
	background-size:100% 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -4%;
	
}

li {
    float: right;
}

li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover {
    background-color: 561C6A;
}

div.box{
	
	opacity:0.8;
	//height:91.8%;
	width:100%;
	height:33%;
	//float:center;
}

div.box p {
  
  font-weight: 750;
  font-size:170%;
  color: #856;
  display: block;
  text-align: center;
  margin-left:7%;
  margin-right:7%;
  margin-top:0%;
 
  
}

div.box p {
  
  font-weight: 750;
  font-size:170%;
  color: #856;
  display: block;
  text-align: center;
  margin-left:7%;
  margin-right:7%;
  margin-top:0%;
 
  
}

div.menu{
	width:100%;
	height:9%;
	border:1px;
	opacity:0.9;
	margin-top:0%;
	margin-right:40%;
}

div.menu ul{
	margin-right:10%;
	
}

#search{	
	font-weight: 750;
    font-size:150%;
    color: #BBB;
    display: block;
    text-align: center;
    margin-right:7%;
	width:100%;
	height:25%;
}

#search{	
	width:100%;
	height:35%;
	margin-top:7%;
}
input[type="submit"] {
    border: 1px solid #ccc;
    padding: 10px 15px;
}

#section{
	
	width:100%;
	height:35%;
	background:brown;
	margin-top:21.5%;
}

#about-us{
	
	margin-left:5%;
	font-size:200%;
	color:white;
	vertical-align:middle;
	transform: translateY(75%);
}

#content{
	
	//float: right;
	margin-left:0%;
	padding: 2cm 4cm 3cm 4cm;
	margin-top:-5%;
	color:998B71;
	display: inline-block;
	font-size:125%;
	word-wrap: break-word;
	overflow-x: auto; 
}

#contact{
	
	width:100%;
	height:30%;
}

#contact-us{

	color:#000;
	font-size:175%;
	margin-left:7%;
	transform: translateY(75%);
}

#contact-us-1{
	
	color:#000;
	margin-left:12%;
	transform: translateY(205%);
}

#contact-us-2{
	
	float:right;
	color:#000;
	margin-right:15%;
	transform: translateY(105%);
}

#contact-us-3{
	
	color:#000;
	margin-left:40%;
	transform: translateY(105%);
}

#footer{
	
	width:100%;
	height:7%;
	background-color:#325C6A;
}

#footer-follow{
	
	margin-left:7%;
	color:#fff;
	transform: translateY(75%);
}

#footer-copyright{
	
	float:right;
	margin-right:20%;
	color:#fff;
}